    * {
        box-sizing: 		border-box;
    }

/* For small screens (phones in portrait)  */
    @media only screen and (max-width: 500px) {
    .col-sm-00  {display: 		   none; } 
    .col-sm-12 	{width: 		   100%; }
    body 		{background-color: black;}
    [class*="col-sm-"] {
        border: 		4px solid black;
    }
    .menu p { display: inline; }
        }

/* For medium screens (e.g. landscape phones and portrait tablets) */
    @media only screen and (min-width: 501px) {
        .col-md-00  {display: 		   none; } /* note */
        .col-md-01  {width: 		  8.33%; }
        .col-md-02  {width: 		 16.66%; }
        .col-md-03  {width: 		 25.00%; }
        .col-md-04  {width: 		 33.33%; }
        .col-md-05  {width: 		 41.66%; }
        .col-md-06  {width: 		 50.00%; }
        .col-md-07  {width: 		 58.33%; }
        .col-md-08  {width: 		 66.66%; }
        .col-md-09  {width: 		 75.00%; }
        .col-md-10  {width: 		 83.33%; }
        .col-md-11  {width: 		 91.66%; }
        .col-md-12  {width: 		100.00%; }
        body 		{background-color: grey;}
        [class*="col-md-"] {
            border: 		4px solid grey;
        }
    }

/* F    or large screens or landscape tablets*/		
    @media only screen and (min-width: 1024px) {
        .col-sm-00  {display: 		initial; }
        .col-md-00  {display: 		initial; }
        .col-lg-01  {width: 		  8.33%; }
        .col-lg-02  {width: 		 16.66%; }
        .col-lg-03  {width: 		 25.00%; }
        .col-lg-04  {width: 		 33.33%; }
        .col-lg-05  {width: 		 41.66%; }
        .col-lg-06  {width: 		 50.00%; }
        .col-lg-07  {width: 		 58.33%; }
        .col-lg-08  {width: 		 66.66%; }
        .col-lg-09  {width: 		 75.00%; }
        .col-lg-10  {width: 		 83.33%; }
        .col-lg-11  {width: 		 91.66%; }
        .col-lg-12  {width: 		100.00%; }

        body 		{background-color: white;}
        /* [class*="col-lg-"] {
            border: 		4px solid grey;
        } */
    }

    [class*="col-"] {
        float:              left;
        border-radius:      10px;
        padding:            2%;
    }

    .row::after {
        content:            "";
        clear:              both;
        display:            block;
    }

    body {
        font-family:        sans-serif;
        font-size:          12px;	
    }
        .wht {background-color: #ffffff;}  
        .ligre {background-color: rgb(194, 194, 194);}   
        .black {background-color: black;}    
        .gre {background-color: grey;}
        .Mar {background-color: rgb(140, 29, 64);}    
        .orgred {background-color: orangered;}    



 
  



/* ------------------------------------ */
        p {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        body, html {
            margin: 0;
            padding: 0;
            
            scroll-behavior: smooth;
            font-family: 'Segoe UI';
            background: grey;
            color: whitesmoke;
        }

        .navbar {
            display: flex;
            justify-content: center; 
            align-items: center;
            background-color: rgb(194, 194, 194);
            /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
            /* position: fixed; */
            width: 100%;
            padding: 0 20px;
            z-index: 1000;
        }

        .head {
            padding-left: 0;
            padding-right: 0;
            border-width: 0;

        }


        /* for Falling Animtion */
        #bitsContainer {
            position: relative;
            width: 100%;
            height: 25%;
            /* overflow: hidden; */
          }
          
          .bit {
            position: absolute;
            color: black; /* Green color for bits */
            /* color: #0f0;  */
            font-family: monospace;
          }
        

        #linkedinId {
            display:flex;
        }
        
        #linkedinId img {
            transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
            height: 40px;
            border-radius:20%
            
        }

        #linkedinId:hover img {
        transform: scale(1.5); /* Slightly increase the size */
        opacity: 0.8; 
        box-shadow: 5 0 15px 5px rgb(255, 255, 255);
        }           
        
        #githubId{
            display:flex;
           
        }
        
        #githubId img {
            transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
            height: 40px;
            border-radius:20%
            
        }

        #githubId:hover img {
        transform: scale(1.5); /* Slightly increase the size */
        opacity: 0.8; 
        box-shadow: 5 0 15px 5px rgb(255, 255, 255);
}           

        .navbar a, .navbar div {
            margin-right: 30px;
            padding: 20px 50px;
            text-decoration: none;
            color: #333;
            font-weight: 500;
            height: 40px;
            font-size: 03vh;
        }


      
        .content {
            padding: 60px 0;
            margin-top: 50px;
        }

        section {
            padding: 60px 20px;
        }

        h2 {
            color: orangered;
            border: #222;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


        }
        
        /* h1 {
            text-size-adjust: 200px;


        } */
        .portfolio-item {
            background: orangered;
            margin: 10px 0;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            padding: 20px;
            transition: transform 0.3s ease;
        }

        .portfolio-item:hover {
            transform: translateY(-5px);
        }

        footer {
            text-align: center;
            padding: 20px;
            background: #222;
            color: #fff;
            margin-top: 20px;
        }

        @media screen and (max-width: 768px) {
            .navbar div {
                display: none;
            }
        }

        .introId {

            background: linear-gradient(to bottom, black, grey);
            
            /* background-color: black; */
            text-align: center;
            text-wrap: 300px;
        }

        .introId h1 {
            text-align: center;
            
            font-size: 36px; /* Adjust the size as needed */
            margin-top: 0;
            margin-bottom: 0.5em; /* Adjust spacing around the title as needed */
        }

        .introId p {
            text-align: center;
            
            font-size: 25px; /* Adjust the size as needed */
            margin-top: 0;
            margin-bottom: 0.5em; 
        }
        .split-box {
            display: flex;
            border-radius: 10px; /* Adjust as needed for rounded corners */
            overflow: hidden; /* Ensures the border-radius clips the child elements */
        
        }

        .left-side, .right-side {
            flex: 1; /* This makes both sides take up equal width */
            padding: 20px; /* Adjust padding as needed */
        }

        .left-side img {
            width: 100%; /* Makes the image fill the container */
            height: auto; /* Keeps the image aspect ratio intact */
            border-top-left-radius: 10px; /* Rounds the top-left corner */
            border-bottom-left-radius: 10px; /* Rounds the bottom-left corner */
            border-top-right-radius: 10px; 
            border-bottom-right-radius: 10px;
            
        }
        .left-side {
            border-top-right-radius: 10px; /* Rounds the top-right corner */
            border-bottom-right-radius: 10px; /* Rounds the bottom-right corner */
            border-bottom-left-radius: 10px; /* Rounds the bottom-right corner */
            border-top-left-radius: 10px;
        
        }
        .right-side {
            border-top-right-radius: 10px; /* Rounds the top-right corner */
            border-bottom-right-radius: 10px; /* Rounds the bottom-right corner */
            border-bottom-left-radius: 10px; /* Rounds the bottom-right corner */
            border-top-left-radius: 10px;
            background-color: rgb(140, 29, 64);
        }

        #gridId {
            max-width: 10px;
                height: 10px;
        }
        #resumeId{
                width: 30%; /* This will make the image responsive, taking the full width of its container */
                max-width: 600px; /* This limits how large the image can get, change this value as needed */
                height: auto; 

        }
        .right-side p {
            text-align: center;
            font-size: 20px; /* Adjust the size as needed */
            margin-top: 0;
            margin-bottom: 0.5em; /* Adjust spacing around the title as needed */

        }
       /* All slide show images */
        .slideshow-container {
            position: relative;
            max-width: 1000px; /* Adjust based on your requirement */
            margin: auto;
        }

        .slide {
            display: none;
            text-align: center;
        }

        /* Position the left and right buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            user-select: none;
            -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
        }

            /* Position the "prev button" to the left */
            .prev {
            left: 0;
        }

        .button {
            /* Basic styling */
            padding: 10px 20px;
            border: none;
            font-size: 16px;
            font-family: Arial, sans-serif;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-image: linear-gradient(to right, #ff7e5f, #feb47b);
            border-radius: 30px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            /* Transition for smoothness */
            transition: transform 0.2s ease, box-shadow 0.2s ease;
        }

        .button:hover {
            /* Slightly lift the button */
            transform: translateY(-3px);
            /* Enhance the shadow */
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
        }

        .button:active {
            /* Press down the button */
            transform: translateY(1px);
            /* Flatten the shadow */
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        }


